/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    min-width: 304px;
    padding: 0 50px;
}

main {
    display: flex;
    flex-direction: column;
    row-gap: 2.1875rem;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
    font-weight: bold;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/******* Header **********/

header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.9rem;
    height: 4.9375rem;
}

.logoMain {
    padding: 30px 0;
}

.logo {
    height: 100%;
}

nav {
    display: flex;
    gap: 4rem;
}

nav a {
    border-top: 2px solid transparent;
    height: 50px;
    align-content: center;
}

nav a:hover {
    color: var(--main-color);
    border-top: 2px solid var(--main-color);
}

/****** searchsection ********/

.searchSection {
    display: flex;
    flex-direction: column;
    row-gap: 2.1875rem;
}

.searchHead {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

/*(form)*/
.searchForm form {
    display: flex;
    height: 49px;
}

.searchMinia {
    background-color: var(--main-bg-color);
    height: 100%;
    width: 50px;
    position: relative;
    border-radius: 15px 0 0 15px;
}

.searchMinia i {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    color: black;

}

.searchText {
    width: 195px;
    height: 100%;
    font-size: 18px;
    font-weight: bold;
    border-top: 1px solid var(--main-bg-color);
    border-bottom: 1px solid var(--main-bg-color);
    border-left : none;
    border-right: none;
    padding-left: 24px;
    padding-right: 24px;
}

.searchSubmit {
    padding: 15px 16px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: #0065FC;
    border: none;
    border-radius: 0 15px 15px 0;
    font-size: 1rem;
}

.searchSubmitMobile {
    display: none;
}

/*(filters)*/

.filters, .filtersButtons {
    display: flex;
    gap: 15px;
    align-items: center;
}

.filtersTitle {
    font-size: 18px;
    font-weight: bold;
}

.filtersFa {
    transform: scale(1.2);
}

.filtersButton {
    height: 50px;
    display: flex;
    align-items: center;
    column-gap: 10px;
    /* height: 100%; */
    font-size: 17px;
    font-weight: bold;
    background-color: transparent;
    border: 2px solid var(--main-bg-color);
    border-radius: 25px;
    padding: 4px 19px;
}

.filtersButton:hover {
    background-color: var(--filter-bg-color);
}

/* info */

.searchInfo {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
    display: flex;
    flex-direction: column;
    row-gap: 1.875rem;
}

.hebergementsCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1.875rem;
}

.hebergementsCards a {
    width: calc(100%/3 - (1.875rem * 2 / 3));
}

.hebergementCard {
    height: 215px;
    display: flex;
    flex-direction: column;
    row-gap: 4px;
    background-color: white;
    border-radius: 20px;
    width: 100%;
    padding-bottom: 10px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.hebergementCard img {
    display: flex;
    flex-grow: 1;
    width: 100%;
    height: 124px;
    object-fit: cover;
    overflow: hidden;
    border-radius: 20px 20px 0 0;
    border: 5px solid white;
}

.hebergementCardContent, .hebergementCardText {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.hebergementCardContent {
    padding: 0 15px;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/* Activités à marseille */

.activitiesContainer {
    padding: 1.875rem;
    display: flex;
    flex-direction: column;
    row-gap: 1.875rem;
}

.activities {
    display: flex;
    gap: 1.875rem;
    justify-content: space-between;
    
}

.activity {
    display: flex;
    width: 25%;
    max-height: 440px;
    border-radius: 20px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
}

.activity a {
    display: flex;
}

.activityContent {
    display: flex;
    flex-direction: column;
}

.activity img {
    width: 100%;
    flex-grow: 1;
    object-fit: cover;
    overflow: hidden;
    border-radius: 20px 20px 0 0;
}

.activityText {
    display: flex;
    align-items: center;
    max-height: 59px;
    padding: 1.25rem;
}
    
/* footer */

.footerContainer {
    display: flex;
    justify-content: space-between;
    background-color: var(--main-bg-color);
    margin-top: 2.1875rem;
}

.footerTitle {
    font-size: 18px;
    font-weight: bold;
}

.footerContent {
    width: 33%;
    display: flex;
    flex-direction: column;
    padding: 1.25rem;
    gap: 1rem;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/* ***************!!!!!!!*************************** */

@media (max-width: 1230px) {
    .hebergements .card-title {
        font-size: 14px;
    }

    .hebergements .card-subtitle {
        font-size: 13px;
    }
}



/* ***************!!!!!!!*************************** */


/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    
    /* filters tablette  */

    .filters {
        align-items: flex-start;
        flex-direction: column;
        row-gap: 20px;
    }

    .filtersButton {
        font-size: 16px;
    }



    /* hebergements and populaires tablette  */
    
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        column-gap: 15px;
    }

    .populaires-cards a {
        width: 30%;
        flex: 1;
    }

    .populaires-cards .card {
        margin-top: 0px;
    }

    .card-title {
        font-size: 14px;
    }

    .card-subtitle {
        font-size: 13px;
    }

/******* activities  tablette *******/

.activityContent {
    height: 270px;
}

.activity img {
    height: auto;
    flex: 1;

}

.activityText {
    display: flex;
    align-items: center;
    height: 70px;
}

}

/**** footer tablette ****/

.footerContainer {
    column-gap: 30px;
}

/* ***************!!!!!!!*************************** */

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

    /**** general  *****/

    .main-container {
        padding: 0;
    }

    /****** header phone ******/

    header {
        flex-direction: column;
        height: auto;
    }

    .logoMain {
        text-align: center;
        height: 79px;
    }

    nav {
        gap: 0;
  
    }

    nav a {
        width: 50%;
        text-align: center;
        border-top: none;
        height: auto;
        padding-bottom: 15px;
        border-bottom: 2px solid var(--main-bg-color);
    }

    nav a:hover {
        border-top: none;
        border-bottom: 2px solid var(--main-color);
      
    }

    /* searchsection phone */

    .searchSection {
        padding: 0 20px;
    }

    /* form phone*/

    .searchForm {
      
    }

    .searchText {
        flex: 1;
    }

    .searchSubmit {
        display: none;
    }

    .searchSubmitMobile {
        display: block;
        margin-left: -12px;
        width: 50px;
        border-radius: 15px;
        border: none;
        background-color: var(--main-color);
        box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
    }

    .searchSubmitMobile i {
        color: white;
        transform: scale(1.2);
    }

 /* filters phone */

    /* .filters {
        align-items: flex-start;
        flex-direction: column;
        row-gap: 20px;
    } */

    .filtersButtons {
        width: 100%;
        flex-wrap: wrap;
        column-gap: 10px;
        row-gap: 20px;
    }

    .filtersButton {
        font-size: 14px;
        width: calc(50% - 5px);
    }

    /**** herbegements and populaires  phone ****/

    .hebergements-and-populaires {
        flex-direction: column-reverse;
        row-gap: 15px;
    }

    .hebergements-and-populaires section {
        border-radius: unset;
        padding: 30px 20px;
    }
   
    /* populaires phone */

    .populaires {
        margin-top: 0;
    }

    .populaires-cards {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        row-gap: 15px;
    }

    .populaires-cards a {
        width: 100%;
    }

    /* hebergement phone  */

    .hebergements-and-populaires .hebergements {
        background-color: white;
        row-gap: 15px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .hebergementsCards {
        display: flex;
        flex-direction: column;
        gap: 15px;
        /* justify-content: space-between; */
    }

    .hebergementsCards a {
        width: 100%;
    }

    /***** Activities phone*****/

    .activities {
        flex-direction: column;
        gap: 15px;
    }

    .activity {
        width: 100%;
    } 

    .activity a {
        flex: 1;
    }
    
    .activityContent {
        flex: 1;
    }

    /****** footer phone *****/
    
    .footerContainer {
        flex-direction: column;
        padding: 30px;
        row-gap: 50px;
    }

    .footerContent {
        width: 100%;
        padding: 0;
    }
}